/* components.css */

.btn {
  padding: 0.75rem 1.5rem;
  border-radius: var(--border-radius);
  background-color: var(--highlight-bg);
  color: var(--highlight-text);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.btn:hover {
  background-color: #9cd444; /* Variação do verde para hover */
}

.card {
  background-color: var(--surface-color);
  border-radius: var(--border-radius);
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 1rem;
  fill: var(--icon-color);
  stroke: var(--icon-color); /* Certifique-se que o stroke também é ajustado */
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}