
:root {
  /* Cores do tema escuro */
  --background-color: #121212;
  --surface-color: #1e1e1e;
  --text-color-primary: #ffffff;
  --text-color-secondary: #a0a0a0;
  --highlight-color: #b4fb4f; /* Cor de destaque verde  */
  --border-color: #383838;
}

body {
  background-color: var(--background-color);
  color: var(--text-color-primary);
}

a {
  color: var(--highlight-color);
}