/* main.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  /* Cores */
  --background-color: #1a1a1a;
  --surface-color: #2b2b2b;
  --text-color-primary: #ffffff;
  --text-color-secondary: #aaaaaa;
  
  /* Cores de destaque para o tema escuro */
  --highlight-bg: #b4fb4f; /* Verde limão */
  --highlight-text: #000000; /* Texto preto para contrastar */

  /* Cores de ícones */
  --icon-color: #ffffff;
  --icon-hover-color: var(--highlight-bg);

  /* Fontes */
  --font-family-sans: 'Roboto', sans-serif;
  --font-size-base: 1rem;
  
  /* Cantos Arredondados */
  --border-radius: 8px;
}

body {
  font-family: var(--font-family-sans);
  background-color: var(--background-color);
  color: var(--text-color-primary);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--text-color-primary);
}

/* Estilo para o Logo e Nome do Projeto */
.logo a.logo-link {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.logo img {
  width: auto;
  height: 40px;
  display: block;
}

.logo .project-name {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--highlight-bg);
  margin: 0;
}